@import "tailwindcss";

:root {
    font-family: "Merriweather", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #EEE3C1;
}

h1 {
    font-weight: 700;
}

body {
     background-color: black;
}
